/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 sept. 2014, 16:56:18
    Author     : root
*/


.slrn-blog-aside .panel {
    margin-bottom: 0;
}

.slrn-blog-aside .panel-heading {
    
    padding:            .66em;
    border-radius:      0;
    
    background-color:   #4B667C;
    color:              #EEEEEF;
}

.slrn-blog-aside .panel-title {
    font-size:      1.1em;
    margin:         0;
    font-weight:    bold;
}

.slrn-blog-aside .panel-body {
    background-color:   #EEEEEF;
    color:              #333;
    padding:            1em .66em;
    overflow:           hidden;
}

.slrn-blog-aside .panel-body > *:last-child {
    margin-bottom: 0;
}

.slrn-rss-icon {
    display:        inline-block;
    height:         34px;
    line-height:    34px; 
}

.slrn-rss-icon:before {
    content:        "";
    float:          right;
    margin-left:    1em;
    width:          34px;
    height:         34px;
    background:     transparent url('../../clarolinecore/images/sprites_solerni.png') no-repeat -211px -264px scroll;
    
}

/* CALENDAR */

.slrn-blog-aside .fc-header {
    font-weight:    bold;
    margin-bottom:  5px;
    color:          #333;
}

.slrn-blog-aside .calendar .fc-header-title h2 {
    font-size:      12px;
    text-transform: uppercase;
    margin:         0;
    line-height:    28px;
    font-weight:    bold;
}

.slrn-blog-aside .fc-state-default,
.slrn-blog-aside .fc-state-default .fc-button-inner {
    border:     0;
    background: transparent;
    color:      #333;
}

.slrn-blog-aside .fc-state-default:hover .fc-button-content {
    color: #4B667C;
}

.slrn-blog-aside .fc-grid th, 
.slrn-blog-aside .fc-grid td {
    border:     0;
    text-align: center;
    width:      25px;
    height:     25px;
}

.slrn-blog-aside .fc-grid th {
    color: #333;
}

.slrn-blog-aside .fc-day-number {
    color:          #606060;
    font-weight:    bold;
    position:       absolute;
    width:          27px;
    height:         25px;
    line-height:    25px;
    padding:        0;
}

.slrn-blog-aside .fc-event-skin {
    background: transparent;
    border:     0;
    color:      transparent;
    width:      26px;
    height:     25px;
}

.slrn-blog-aside .fc-event-inner {
    border:     1px solid #4B667C;
}

.slrn-blog-aside .fc-state-highlight {
    background-color: #4B667C;
}

.slrn-blog-aside .fc-state-highlight .fc-day-number {
    color: #EEEEEF;
}

.slrn-blog-aside .fc-day-content {
    padding:    0;
    width:      25px;
    height:     25px;
}

.slrn-blog-aside .fc-button {
    margin: 0;
}

.slrn-blog-archives-link {
    display: block;
}

/* POSTS */

.slrn-blog-posts-list {
    padding-top: 50px;
}

.slrn-blog-post {
    border:         0;
    margin-bottom:  50px;
}

.slrn-blog-post.unpublished {
    background: transparent;
}

.slrn-blog-post-header {
    background: transparent;
    border:     0;
    padding:    0;
}

.slrn-blog-post-title {
    margin-bottom: 2px;
}

.slrn-blog-post-title-link {
    color:          #333;
    font-weight:    bold;
    font-size:      24px;
}

.slrn-blog-post-header .icon-user {
    color: #999;
}

.post_infos {
    font-size:  14px;
    color:      #606060;
}

.slrn-author-link {
    font-weight: bold;
}

.slrn-blog-post-content .icon-long-arrow-right {
    display: none;
}

.slrn-blog-post-content {
    margin: 15px 0;
}

.slrn-blog-post-footer {
    background:     transparent;
    border:         0;
    padding:        0;
}

.slrn-blog-post-footer .icon-tags {
    color: #999;
}

.slrn-blog-post-footer .icon-comments {
    color:          #999;
    margin-right:   8px;
}

.no_underline {
    text-decoration: none;
    margin-right: 5px;
}

.slrn-blog-posts-list .back_link {
    position:   relative;
    top:        -1em;
    color:      #333;
}